<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AbandonProcessGroup</key>
	<true/>
	<key>Label</key>
	<string>com.tjluoma.keep-omnifocus2-beta-up-to-date</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/bin/env</string>
		<string>keep-omnifocus2-beta-up-to-date.sh</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/tmp/keep-omnifocus2-beta-up-to-date.log</string>
	<key>StandardOutPath</key>
	<string>/tmp/keep-omnifocus2-beta-up-to-date.log</string>
	<key>StartInterval</key>
	<integer>3600</integer>
</dict>
</plist>
